/* base */
html {
  min-width: 320px;
}

body {
  background-color: #f5f5f5;
  width: 100vw;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.mainContainer {
  width: 100%;
}

/* the hero */
.heroContainer {
  width: 100%;
  height: 35vh;
  max-height: 275px;
  position: relative;
}

.imageContainer {
  position: relative;
  text-align: center;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  filter: grayscale(70%);
}

.nameContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  border-bottom: 1px solid black;
}

.firmName {
  font-family: "Playfair Display SC", serif;
  font-size: 2.5rem;
}

/* the nav */
.nav {
  display: none;
}

/* the hamburger */
.hamburgerContainer {
  display: block;
  position: fixed;
  top: 0;
  right: 10px;
  width: 45px;
  height: 45px;
  z-index: 200;
  cursor: pointer;
}

.hamburger {
  position: absolute;
  top: 20px;
  height: 3px;
  width: 66.6%;
  background-color: black;
  display: inline-block;
  opacity: 1;
  transition: opacity 0.5s ease;
  transform: translateX(25%);
}

.hamburger:after,
.hamburger:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: black;
  transition: all 0.5s ease;
}

.hamburger:before {
  top: 8px;
}

.hamburger:after {
  top: -8px;
}

.fadedOut {
  background-color: rgba(0, 0, 0, 0);
}

.hamburger.fadedOut:after,
.hamburger.fadedOut:before {
  top: 0;
}

.hamburger.fadedOut:after {
  transform: rotate(-135deg);
}

.hamburger.fadedOut:before {
  transform: rotate(135deg);
}

/* the menudrawer */
.menuDrawer {
  position: fixed;
  top: 0;
  right: 0;
  text-align: center;
  background-color: rgba(253, 252, 250, 0.95);
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  box-shadow: -2px 0px 5px lightgrey;
  transform: translateX(100%);
  transition: transform 0.5s ease;
}

.open {
  transform: translateX(0px);
}

.menuDrawer ul {
  list-style: none;
}

.list-item {
  display: block;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  padding: 1.2rem 0;
  font-size: 1.5rem;
}

.list-item:hover,
.selected {
  color: #7a7a7a;
}

/* content */
.content {
  margin: 1.5rem 1rem 3rem;
  position: relative;
  font-family: "Open Sans", sans-serif;
}

.content > * {
  display: none;
}

.content p,
.content ul:not(.subList) {
  margin-bottom: 1rem;
  line-height: 1.5;
  font-size: 1.1rem;
}

.visible {
  display: block;
}

.innerContainer {
  margin: 0 0.5rem;
}

.sectionHeading {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  padding-bottom: 0.2rem;
  display: block;
  width: 100%;
  border-bottom: 3px solid rgba(13, 18, 104, 0.5);
  letter-spacing: normal;
}

.subHeading {
  color: rgba(13, 18, 104, 1);
  font-size: 1.3rem;
  margin-bottom: 1.3rem;
}

.smallSubHeading {
  font-size: 1.2rem;
  font-style: italic;
  color: black;
  margin: 1rem;
}

/* home */
.flexContainer span {
  display: block;
}

.flexContainer {
  display: flex;
  flex-direction: column-reverse;
}

.leftPanel {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.5rem;
}

/* these classes are also used on the contact page */
.contactComponents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0 25px;
}

.contact {
  font-size: 0.8rem;
}

.logoContainer {
  align-self: flex-start;
  height: 85px;
}

.logoContainer img {
  height: 100%;
}

.contact > * {
  margin: 0;
}

.headshotContainer {
  width: 50%;
}

.headshotContainer img {
  width: 100%;
}

.downloadsContainer {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: .8rem;
}

.button {
  position: relative;
  padding: 5px;
  border: 1px solid black;
  margin: 3px 0px;
  background: #fdfcfa;
  text-decoration: none; 
  color: black;
  transform: translateY(0px);
  transition: all 0.5s ease;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 1px 3px 6px #7a7a7a;
  color: #7a7a7a;
}

/* contact */
.contactContainer .flexContainer {
  flex-direction: row;
}

.contactContainer .contactComponents {
  justify-content: center;
}

/* experience, publications, teaching */
.flexList {
  margin: 0 30px;
  display: block;
}

.noBullets {
  list-style: none;
}

.bulletList {
  margin: 0 35px;
}

.subList {
  font-size: 95%;
  margin: 0 0 0 35px;
}

@media (min-width: 768px) {
  /* the hero */
  .heroContainer {
    height: 40vh;
  }

  .nameContainer {
    width: 75%;
  }

  .firmName {
    font-size: 70px;
  }

  /* the hamburger */
  .hamburgerContainer {
    width: 65px;
    height: 65px;
    top: 10px;
  }

  .hamburger:before {
    top: 12px;
  }

  .hamburger:after {
    top: -12px;
  }

  .list-item {
    padding: 1rem 0;
    font-size: 2rem;
  }

  /* content */
  .content {
    margin: 1.5rem auto 3rem;
    padding: 0 1rem;
    position: relative;
    max-width: 1025px;
  }

  .content p,
  .content ul:not(.subList) {
    margin-bottom: 18px;
  }

  .sectionHeading {
    font-size: 1.875rem;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(13, 18, 104, 0.5);
  }

  .subHeading {
    color: rgba(13, 18, 104, 1);
    margin: 15px 0;
  }

  .noVerticalMargin {
    margin: 0;
  }

  /* home */
  .flexContainer {
    flex-direction: row;
  }

  .leftPanel {
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
  }

  .rightPanel {
    width: 50%;
  }

  .contactComponents {
    margin: 20px 0 0 0;
  }

  .logoContainer {
    height: 110px;
    margin-top: 0.5rem;
    align-self: center;
  }

  .contact {
    font-size: inherit;
    margin: 0;
    text-align: center;
  }

  .headshotContainer {
    width: 75%;
  }

  .headshotContainer img {
    width: 100%;
  }

  .downloadsContainer {
    flex-direction: row;
  }

  .button {
    margin: 0;
  }

  .button:last-child {
    margin-left: 10px;
  }

  /* experience, publications, teaching */
  .flexList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 470px;
  }

  /* contact */
  .contactContainer .flexContainer {
    justify-content: center;
  }

  .contactContainer .headshotContainer {
    width: 50%;
  }

  .contactContainer .headshotContainer img {
    width: 75%;
    float: right;
    display: block;
  }

  .contactContainer .contactComponents {
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    margin-left: 3rem;
  }

  .contactContainer .contact {
    text-align: left;
  }

  .contactContainer .logoContainer {
    align-self: flex-start;
  }
}

@media (min-width: 1025px) {
  /* the hero */
  .nameContainer {
    width: 55%;
    max-width: 800px;
  }

  /* the hamburger */
  .hamburgerContainer {
    width: 45px;
    height: 45px;
    top: 0;
  }

  .hamburger {
    height: 2px;
  }

  .hamburger:before {
    top: 8px;
  }

  .hamburger:after {
    top: -8px;
  }

  /* the menudrawer */
  .menuDrawer {
    width: 365px;
  }

  .list-item {
    font-size: 1.2rem;
  }
}

@media (min-width: 1310px) {
  /* the nav */
  .nav {
    display: block;
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 100%;
    z-index: 100;
    background: #fdfcfa;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px lightgrey;
  }

  .nav ul {
    list-style: none;
  }

  .list-item {
    display: inline-block;
    padding: 0px 3px 3px 0px;
  }

  .list-item:not(:last-child)::after {
    content: "";
    height: 20px;
    border: 1px solid rgba(13, 18, 104, 0.5);
    margin-left: 10px;
  }

  /* the hamburger */
  .hamburgerContainer {
    display: none;
  }

  /* the menudrawer */
  .menuDrawer {
    display: none;
  }
}
